* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.mp4 binary
*.onnx binary
*.parquet binary
*.npy binary
*.npz binary
*.pt binary
*.pth binary
*.keras binary
*.h5 binary
*.a binary
*.dll binary
*.dylib binary
*.exe binary
*.lib binary
*.o binary
*.so binary
